{% extends "../base.twig" %}

{% block main %}
	<section>
		<h2>Formulaire inscription</h2>

		<form action="/signin" method="post">
			<div>
				<label for="name">Nom</label>
				<input type="text" id="name" name="name">
			</div>
			<div>
				<label for="firstname">Prenom</label>
				<input type="text" id="firstname" name="firstname">
			</div>
			<div>
				<label for="email">email</label>
				<input type="text" id="email" name="email">
			</div>
			<div>
				<label for="password">Password</label>
				<input type="password" id="password" name="password">
			</div>
			<button type="submit">ENVOYER</button>
		</form>
	</section>
{% endblock %}
